<style type="text/css">

.blank { } 
p { font-family: Arial, Helvetica, sans-serif; font-size: 12px}
td { font-family: Arial, Helvetica, sans-serif; font-size: 12px}
li { font-family: Arial, Helvetica, sans-serif; font-size: 12px}


.bigheader	{  color: #ffffff; font-weight : bold; font-size : 20px; }
.mediumheader	 {  color: #ffffff;  font-weight : bold; font-size : 16px; }
.smallheader	 {  color: #ffffff;  font-weight : bold; font-size : 12px; }
.legaltext { font-style : italic; font-size : 10px}
.smalltext { font-size : 10px}
.introtext { font-weight: bold}

a {color: #990000; text-decoration: none}
a:link {color: #990000; text-decoration: none}
a:hover {color: #990000; text-decoration: underline}
a:visited {color: #FFFFFF; text-decoration: underline}
a:visited:hover { color: #ffffff; text-decoration: none}

</style>

